#Ignore by extinsion (*.test)

#Ignore by file name (/test.log)
/package-lock.json
/.DS_Store
/.vscode
/.idea
/yarn.lock


#Ignore by directory (/folder/)
/server/node_modules/
/client/node_modules/


#When you think your git is messed up, you can use this command to do everything up-to-date.
#git rm -r --cached .
#git add .
#git commit -am 'git cache cleared'
#git push

#Also to revert back last commit use this :
#git reset HEAD^ --hard